<div class="mat-elevation-z8">
    <div class="employee-table-container">
        <table mat-table [dataSource]="employeeList" class="employee-table" matSort matSortActive="lastName"
            matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let employee">{{employee.firstName}} {{employee.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let employee">{{employee.gender}}</td>
            </ng-container>
            <ng-container matColumnDef="doj">
                <th mat-header-cell *matHeaderCellDef>Date of Joining</th>
                <td mat-cell *matCellDef="let employee">{{employee.doj | date}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
            </tr>
            <tr mat-row class="employee-row" *matRowDef="let row; columns: displayedColumns;"
                (click)="showEmployeeProfile(row.id)">
            </tr>
        </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="itemPerPage" class="employee-table-paginator"></mat-paginator>
</div>