<div class="custom-table-container" [style.display]="employeeList.length>0 ? 'block' : 'none'">
    <table mat-table [dataSource]="employeeList" class="custom-table" matSort matSortActive="firstName"
        matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let employee">{{employee.firstName}} {{employee.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let employee">{{employee.gender}}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let employee">{{employee.phone}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-Mail</th>
            <td mat-cell *matCellDef="let employee">{{employee.email}}</td>
        </ng-container>
        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
            <td mat-cell *matCellDef="let employee">{{employee.dob | date}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let employee" class="custom-table-action">
                <button mat-button (click)="showEmployeeProfile(employee.id)">
                    <mat-icon class="table-action" matTooltip="View">
                        visibility</mat-icon>
                </button>
                <button mat-button (click)="editEmployeeProfile(employee)">
                    <mat-icon class="table-action" matTooltip="Edit">edit
                    </mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
        </tr>
        <tr mat-row class="employee-row" *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="itemPerPage" class="custom-table-paginator"></mat-paginator>
</div>

<app-no-data-message [visible]="employeeList.length===0"></app-no-data-message>