.employee-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.employee-table {
  width: 100%;
}

.employee-action button {
  margin-right: 8px;
}

::ng-deep {
  .employee-table-paginator .mat-paginator-container {
    justify-content: flex-start;
  }
}
