<h2 mat-dialog-title>Configure Pages</h2>
<mat-dialog-content class="mat-typography" fxLayout="row">
    <div fxFlex="49">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <form [formGroup]="applyFormGroup" autocomplete="off">
                <mat-form-field fxFlex="32" fxFlexOffset="20px">
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl formControlName="type">
                        <mat-option value="">--</mat-option>
                        <mat-option value="Type 1">Type 1</mat-option>
                        <mat-option value="Type 2">Type 2</mat-option>
                        <mat-option value="Type 3">Type 3</mat-option>
                        <mat-option value="Type 4">Type 4</mat-option>
                        <mat-option value="Type 5">Type 5</mat-option>
                        <mat-option value="Type 6">Type 6</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="32" fxFlexOffset="20px">
                    <mat-label>Value</mat-label>
                    <mat-select matNativeControl formControlName="value">
                        <mat-option value="">--</mat-option>
                        <mat-option value="Value 1">Value 1</mat-option>
                        <mat-option value="Value 2">Value 2</mat-option>
                        <mat-option value="Value 3">Value 3</mat-option>
                        <mat-option value="Value 4">Value 4</mat-option>
                        <mat-option value="Value 5">Value 5</mat-option>
                        <mat-option value="Value 6">Value 6</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="32" fxFlexOffset="20px">
                    <button mat-raised-button [disabled]="applyFormGroup.value.type === '' 
                            || applyFormGroup.value.value === '' 
                            || highlitedPages.length === 0" color="accent" (click)="onApply()"> Apply
                    </button>
                </div>
            </form>
        </div>
        <perfect-scrollbar>
            <div fxLayout="row wrap" class="page-name-container" fxLayoutGap="20px">
                <mat-card *ngFor="let page of pages" class="page-card" (click)="togglePageSelection(page)"
                    [ngClass]="{'selected': page.isSelected}">
                    <mat-icon>description</mat-icon>
                    {{page.id}}
                </mat-card>
            </div>
        </perfect-scrollbar>
    </div>
    <div fxFlex="49">
        <div fxLayout="column" class="page-properties-container">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let mainTaks of pageTasks">
                    <mat-expansion-panel-header>
                        {{mainTaks.type}}
                    </mat-expansion-panel-header>

                    <div fxLayout="row wrap">
                        <mat-card *ngFor="let subTask of mainTaks.child">
                            <mat-card-header>
                                <mat-card-title>{{subTask.type}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="row wrap">
                                <!-- <div *ngFor="let task of subTask.child">
                                    {{task.pageId}}
                                </div> -->
                                <mat-chip-list>
                                    <mat-chip *ngFor="let task of subTask.child">
                                        {{task.pageId}}
                                        <!-- <mat-icon matChipRemove *ngIf="true">cancel</mat-icon> -->
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        </mat-card>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>
            <!-- <mat-card *ngFor="let mainTaks of pageTasks">
                <mat-card-header>
                    <mat-card-title>{{mainTaks.type}}</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayout="row wrap">
                    <mat-card *ngFor="let subTask of mainTaks.child">
                        <mat-card-header>
                            <mat-card-title>{{subTask.type}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let task of subTask.child">
                                {{task.pageId}}
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card> -->
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button type="button" (click)="onSave()">Save</button>
</mat-dialog-actions>