.page-name-check {
  font-size: 14px;
  height: 10px;
  width: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  font-weight: bolder;
}

.page-name-filled {
  font-size: 20px;
  height: 10px;
  width: 10px;
  float: right;
  margin-top: -6px;
  margin-right: 2px;
  font-weight: bolder;
  color: darkorange;
}

.page-card {
  background-color: lightgrey;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.selected {
  background-color: #83d02f;
  color: #ffffff;
}

::ng-deep {
  .order-page-details-dialog {
    max-width: 98% !important;
    height: 95% !important;
    margin: auto !important;
  }
  .mat-dialog-content {
    max-height: calc(100% - 80px);
  }
}

.scroll-pad-r {
  padding-right: 5px;
}

.page-numbers-line {
  padding: 5px;
  background-color: beige;
  margin-top: 25px;
}

.page-property-group {
  margin-bottom: 8px;
  border-top-style: ridge;
  border-left-style: ridge;
  border-right-style: ridge;
}
