<h2 mat-dialog-title>Configure Pages</h2>
<mat-dialog-content fxLayout.xs="column" fxLayoutAlign="space-between">
    <div fxFlex="40" class="page-name-container">
        <perfect-scrollbar class="page-name-scroll scroll-pad-r">
            <mat-chip-list>
                <mat-chip class="page-card" [ngClass]="{'selected': page.isSelected}" *ngFor="let page of pages"
                    (click)="togglePageSelection(page,$event)" [matTooltip]="getToolTip(page)">
                    {{page.id}}
                    <mat-icon class="page-name-filled" *ngIf="page.pageDetails.length>0">
                        turned_in
                    </mat-icon>
                </mat-chip>
            </mat-chip-list>
        </perfect-scrollbar>
    </div>
    <div fxFlex="16" fxLayoutGap="20px" class="page-action-container">
        <perfect-scrollbar class="scroll-pad-r">
            <form fxLayout="column" [formGroup]="applyFormGroup" autocomplete="off">
                <mat-form-field fxFlex>
                    <mat-label>Type</mat-label>
                    <mat-select matNativeControl formControlName="type">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let type of porpertyList" value="{{type.value}}"
                            (onSelectionChange)="onPropertySelected($event,type)">{{type.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex fxFlexOffset="20px">
                    <mat-label>Value</mat-label>
                    <mat-select matNativeControl formControlName="value" [disabled]="!applyFormGroup.value.type">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let type of selectedProperty?.child" value="{{type.value}}">{{type.text}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxFlex fxFlexOffset="20px">
                    <button mat-raised-button fxFlex="48" color="accent" (click)="onUndo()"
                        [disabled]="historyPages.length===0">
                        <mat-icon>undo</mat-icon> Undo
                    </button>
                    <button mat-raised-button fxFlex="48" [disabled]="!applyFormGroup.value.type 
                            || !applyFormGroup.value.value 
                            || highlitedPageNumbers.length === 0" class="btn-apply" color="accent" (click)="onApply()">
                        Apply
                    </button>
                </div>
            </form>
            <div fxLayout="row" fxLayoutGap="20px" class="page-numbers-line"
                *ngIf="pageNumbersLine && pageNumbersLine!==''">
                {{pageNumbersLine}}
            </div>
        </perfect-scrollbar>
    </div>
    <div fxFlex="40" fxLayoutGap="20px" fxLayout="column" class="page-properties-container">
        <perfect-scrollbar class="scroll-pad-r">
            <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let mainTaks of pagesGroupedByType;trackBy: trackByFn">
                    <mat-expansion-panel-header>
                        {{mainTaks.type}}
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let subTask of mainTaks.child;trackBy: trackByFn">
                            <mat-expansion-panel-header>
                                {{subTask.type}}
                            </mat-expansion-panel-header>
                            <mat-chip-list>
                                <mat-chip *ngFor="let task of subTask.child">
                                    {{task.pageId}}
                                    <mat-icon matChipRemove (click)="removePropertyFromPage(task)">
                                        cancel
                                    </mat-icon>
                                </mat-chip>
                            </mat-chip-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </perfect-scrollbar>
    </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex fxFlex="40" fxLayoutAlign="space-between">
        <button mat-button color="warn" type="button" (click)="clearSelection()"
            [disabled]="highlitedPageNumbers.length===0">Clear
        </button>
    </div>
    <div fxFlex align="end">
        <button mat-button type="button" color="warn" (click)="onCancel()">Cancel</button>
        <button mat-button type="button" color="primary" (click)="onSave()">Save</button>
    </div>
</mat-dialog-actions>