<perfect-scrollbar style="max-height: calc(100% - 52px);">
    <div class="page-container">
        <div class="page-content" fxLayout="column" fxLayoutGap="20px">

            <form [formGroup]="searchForm">
                <mat-card class="search-bar">
                    <mat-card-content fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="20px">
                        <mat-form-field appearance="outline" class="search-box">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="search-box">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName">
                        </mat-form-field>
                        <button mat-raised-button color="accent" class="btn-search" (click)="onSearch()">
                            <mat-icon>search</mat-icon> Search
                        </button>
                    </mat-card-content>
                </mat-card>
            </form>

            <app-employee-list-table-view [searchCriteria]="this.searchForm.value" [searchCounter]="searchCounter">
            </app-employee-list-table-view>

        </div>
    </div>
</perfect-scrollbar>

<button mat-fab class="btn-add">
    <mat-icon>add</mat-icon>
</button>