@import "../../customer/customer-list/customer-list.component.scss";

.mat-card-title {
  display: flex;
}

.notes {
  height: 128px;
}

.footer {
  padding-right: 15px;
  background-color: #dad1d1;
  height: 40px;
}

form {
  height: 100%;
}
