<div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="20">
        <mat-card>
            <mat-card-content fxLayout fxLayoutAlign="space-between start">
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="78">
        <mat-card class="pipeline-header">
            <mat-card-content fxLayout fxLayoutAlign="space-between start">
                <div fxFlex fxLayout="column" class="pipeline-header__text">ORDER DETAILS</div>
                <div fxFlex fxLayout="column" class="pipeline-header__text">CUSTOMER DETAILS</div>
                <div fxFlex fxLayout="column" class="pipeline-header__text">STATUS</div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngFor="let i of [1,2,3,4,5,6,7,8,9]" fxFlexOffset="20px" (click)="goToJobDetails(i)"
            class="pipeline-item">
            <mat-card-content fxLayout fxLayoutAlign="space-between start">
                <div fxFlex fxLayout="column">
                    <div>Order #:
                        <span class="mat-body-strong"><a routerLink="#">OD116766953728838000</a></span>
                    </div>
                    <div fxFlexOffset="20px">Order Date:
                        <span class="mat-body-strong">14/Dec/2018</span>
                    </div>
                </div>
                <div fxFlex fxLayout="column">
                    <div>Total Amount:
                        <span class="mat-body-strong">{{1000 | currency:'INR'}}</span>
                    </div>
                    <div fxFlexOffset="20px">Advance Amount:
                        <span class="mat-body-strong">{{400 | currency:'INR'}}</span>
                    </div>
                </div>
                <div fxFlex fxLayout="column">
                    <div>Status:
                        <span class="mat-body-strong btn-grey">Delivered</span>
                    </div>
                    <div fxFlexOffset="20px">Delivery Date:
                        <span class="mat-body-strong">14/Dec/2018</span>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>