@import "../../../../shared/styles/button.scss";

.page-header-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 250px;

  background-color: #039be5 !important;
  color: #fff !important;
}

.page-header-container {
  min-height: 50px;
  position: relative;
}
.page-title {
  display: flex;
  color: white;
  font-size: 30px;
  align-items: center;
}

.page-title__text {
  margin-left: 10px;
}

.page-title__icon {
  font-size: 32px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  line-height: 32px !important;
}
