.profile-summary-card {
  border-left: 15px;
  border-left-style: inset;
  border-left-color: chartreuse;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.profile-snap-left {
  border-right: 2px dashed #ccc;
}

.profile-snap-left .text-muted {
  color: #8e8e8e !important;
}

.personal-snap-right {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.personal-snap-right li {
  margin-bottom: 10px;
}

.personal-snap-right li .title {
  color: #4f4f4f;
  float: left;
  font-weight: 500;
  margin-right: 30px;
  width: 25%;
}

.personal-snap-right li .text {
  color: #8e8e8e;
  display: block;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.profile-edit {
  cursor: pointer;
}
