<mat-card fxLayout="row" class="profile-summary-card">
    <div fxFlex="40" fxLayout="row">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="profile-image">
        <div fxFlex style="margin-left: 15px;">
            <div class="profile-snap-left">
                <h3>{{employeeDetails?.firstName}} {{employeeDetails?.lastName}}</h3>
                <div class="mat-body-strong">Employee # : {{employeeDetails?.employeeNo}}</div>
                <div class="mat-small text-muted">Album Designer</div>
                <div class="mat-small text-muted">Design Team</div>
                <div class="mat-small text-muted">Date of Join : {{employeeDetails?.doj| date}}</div>
            </div>
        </div>
    </div>
    <div fxFlex="57" style="margin-left: 15px;">
        <ul class="personal-snap-right">
            <li>
                <div class="title">Phone:</div>
                <div class="text"><a href="">{{employeeDetails?.phone}}</a></div>
            </li>
            <li>
                <div class="title">Email:</div>
                <div class="text"><a href="">{{employeeDetails?.email}}</a></div>
            </li>
            <li>
                <div class="title">Birthday:</div>
                <div class="text">{{employeeDetails?.dob| date}}</div>
            </li>
            <li>
                <div class="title">Address:</div>
                <div class="text">1861 Bayonne Ave, Manchester Township, NJ, 08759</div>
            </li>
            <li>
                <div class="title">Gender:</div>
                <div class="text">{{employeeDetails?.gender}}</div>
            </li>
        </ul>
    </div>
    <div fxFlex="3" class="profile-edit">
        <button mat-mini-fab color="accent" (click)="editEmployeeProfile()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</mat-card>