.custom-table-container {
  position: relative;
  overflow: auto;
}

.custom-table {
  width: 100%;
}

.custom-table .table-action {
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
}

::ng-deep {
  .custom-table-paginator .mat-paginator-container {
    justify-content: flex-start !important;
    min-height: 40px;
  }

  .custom-table-paginator .mat-paginator-navigation-previous:not([disabled="true"]),
  .custom-table-paginator .mat-paginator-navigation-next:not([disabled="true"]) {
    color: #ffffff;
    background-color: blue;
    border-radius: 25px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
  }

  th {
    z-index: 0 !important;
  }
}
