<div class="mat-elevation-z8">
    <div class="order-table-container">
        <table mat-table [dataSource]="orderList" class="order-table" matSort matSortActive="customerName"
            matSortDisableClear matSortDirection="asc">
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cust. Name</th>
                <td mat-cell *matCellDef="let order">{{order.customerName}}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef>Phone</th>
                <td mat-cell *matCellDef="let order">{{order.phone}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-mail</th>
                <td mat-cell *matCellDef="let order">{{order.email}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let order" class="order-action">
                    <button mat-raised-button (click)="showOrderProfile(order.id)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
            </tr>
            <tr mat-row class="order-row" *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="itemPerPage" class="order-table-paginator"></mat-paginator>
</div>