<perfect-scrollbar style="max-height: calc(100% - 52px);">
    <div class="page-container">
        <div class="page-content">
            <app-employee-profile-summary [employeeDetails]="employeeDetails"></app-employee-profile-summary>
            <form [formGroup]="employeeFormGroup">
                <mat-tab-group>
                    <mat-tab label="Bank Details">
                        Bank Details
                    </mat-tab>
                    <mat-tab label="Attendance Details">
                        Attendance Details
                    </mat-tab>
                    <mat-tab label="Leave Details">
                        Leave Details
                    </mat-tab>
                </mat-tab-group>
            </form>
        </div>
    </div>
</perfect-scrollbar>