<perfect-scrollbar style="max-height: calc(100% - 52px);">
    <div class="page-container">
        <app-employee-profile-summary [employeeDetails]="employeeDetails"></app-employee-profile-summary>
        <form [formGroup]="employeeFormGroup">
            <mat-tab-group>
                <mat-tab label="About">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-card fxFlex="49">
                            <mat-card-header>
                                <mat-card-title>Personal</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="firstName">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="lastName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Gender</mat-label>
                                        <input matInput formControlName="gender">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput formControlName="dob">
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card fxFlex="49">
                            <mat-card-header>
                                <mat-card-title>Contact</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Mobile # 1</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Mobile # 2</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>E-Mail</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Land Phone</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-card fxFlex="49">
                            <mat-card-header>
                                <mat-card-title>Current Address</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex>
                                        <mat-label>Line 1</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>City</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>State</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Zip</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Landmark</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <mat-card fxFlex="49">
                            <mat-card-header>
                                <mat-card-title>Permanent Address</mat-card-title>
                            </mat-card-header>
                            <mat-card-content fxLayout="column">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex>
                                        <mat-label>Line 1</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>City</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>State</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Zip</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="49">
                                        <mat-label>Landmark</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</perfect-scrollbar>