@import "../../../../shared/styles/page.scss";

mat-card-header {
  background: cadetblue;
  padding: 5px;
  color: white;
}

mat-card-content {
  padding: 10px;
}

mat-card {
  padding: 0;
  margin-top: 15px;
}

mat-card-title {
  margin-bottom: 0 !important;
}
