.customer-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.customer-table {
  width: 100%;
}

::ng-deep {
  .customer-table-paginator .mat-paginator-container {
    justify-content: flex-start;
  }
}
