@import "../../../../shared/styles/page.scss";

.btn-add {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}

.clear-search__icon {
  cursor: pointer;
}
