ul li {
  list-style: none;
}

.brand-lockup {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  padding-left: 8px;
  height: 72px;
}

.brand-lockup__logo {
  margin-right: 10px;
}

.brand-lockup__title {
  display: inline;
}

.toolbar-row {
  background: #f5f5f5;
  // background: linear-gradient(45deg, #303f9f, #7b1fa2) !important;
  color: black;
  border-bottom: inset;
}

.breadcrumb-row {
  background: #f5f5f5;
  color: black;
  height: 40px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.042), 0 1px 10px 0 rgba(0, 0, 0, 0.036);
}

.page-title {
  font-size: smaller;
}
